@if (isLoadingCategories()) {
<div class="flex items-center justify-center my-8">
  <span class="loading loading-spinner loading-xl"></span>
</div>
} @else {
<div role="tablist" class="tabs tabs-box mb-8 flex-nowrap! overflow-auto">
  @for (item of categories(); track item.id) {
  <div
    role="tab"
    [ngClass]="`${item.isActive ? 'tab-active' : ''} tab`"
    (click)="getProcutsByCategory(item.name)"
  >
    {{ item.name }}
  </div>
  }
</div>

@if (isLoadingProducts()) {
<div class="flex items-center justify-center my-8">
  <span class="loading loading-spinner loading-xl"></span>
</div>
} @else {
<div class="mb-8">
  Showing <strong>{{ products().length }}</strong> items
</div>
<div class="flex items-start justify-center flex-wrap gap-[1%]">
  @for (item of products(); track item.id) {
  <div class="w-full sm:w-[49%] md:w-[32%] mb-8">
    <ProductCard
      [name]="item.name"
      [description]="item.description"
      [img]="item.img"
    />
  </div>
  }
</div>
} }
